/* toast.css */
.toast_container{
    width: 380px;
    height: auto;
    position: fixed;
    z-index: 10000;
    bottom: 30px;
    right: 30px;
    transition: all 0.5s ease;
}

.toast.slide-hide{
    max-height: 0px !important;
    opacity: 0;
    margin-top: 0;
}
.toast.slide-show{
    max-height: 500px;
    opacity: 1;
    margin-top: 20px;
}

.toast{
    width:100%;
    max-height: 0;
    margin-top: 0;
    top: 100%;
    position: relative;
    border-radius: 4px;
    border-left: 4px solid;
    animation-duration: 0.3s;
    animation-delay: 0s;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.toast .toast__close{
    right: 10px;
    top: 10px;
    font-size: 16px;
    position: absolute;
    background: none;
    border: none;
    color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.toast .toast__close:focus,
.toast .toast__close:active{
    outline: none;
}

.toast .toast__content{
    padding: 25px 20px;
    display: flex;
}

.toast .toast__icon{
    font-size: 22px;
    padding-right: 10px;
}
.toast .toast__text-title{
    font-size: 16px;
    line-height: 23px;
}
.toast .toast__text-description{
    font-size: 14px;
    color: rgba(0,0,0,0.4);
}

/* success */
.toast-success{
    color: hsl(120, 100%, 40%, 1);
    border-left-color:hsla(120, 100%, 40%, 1);
    background: hsla(120, 100%, 95%, 1);
    box-shadow: 0 4px 8px 0 hsla(120, 100%, 40%, 0.15);
}

/* info */
.toast-info{
    color: hsla(200, 100%, 50%, 1);
    border-left-color: hsla(200, 100%, 50%, 1);
    background: hsl(199, 100%, 95%);
    box-shadow: 0 4px 8px 0 hsla(200, 100%, 50%, 0.15);
}

/* warning */
.toast-warning{
    color: hsl(40, 100%, 50%);
    border-left-color: hsl(40, 100%, 50%);
    background: hsl(41, 100%, 95%);
    box-shadow: 0 4px 8px 0 hsla(40, 100%, 50%, 0.15);
}

/* error */
.toast-error{
    color: hsl(0, 100%, 50%);
    border-left-color: hsl(0, 100%, 50%);
    background: hsl(0, 100%, 95%);
    box-shadow: 0 4px 8px 0 hsla(0, 100%, 50%, 0.15);
}